name: CI Moseiik PAM & SOUKAYNA

on:
  push: #ici on a choisi de lancer CI sur un push pour détecter les erreurs immédiatement et ne  pas cassés la branche main 
    branches:
      - main   

  pull_request: # ce choix car permet de re-vérifie le code valide la branche avant de la fusionner 
    branches:
      - main   
 

jobs:
  build-and-test:
    name: Build & Test (${{ matrix.platform }})
    runs-on: ubuntu-latest

    strategy:
      matrix:
        platform: [linux/amd64, linux/arm64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 #un peu comme equivalence de notre gitclone


      - name: Download tiles    # On préfère télécharger les vignettes dans le CI plutôt que dans le Dockerfile pour éviter que chaque build Docker télécharge 4000 images, ce qui serait très lent et non reproductible
        run: |
          sudo apt-get update
          sudo apt-get install -y curl unzip                
          curl -L "https://nasext-vaader.insa-rennes.fr/ietr-vaader/moseiik_test_images.zip" -o moseiik_test_images.zip
          unzip -o moseiik_test_images.zip -d assets
          rm moseiik_test_images.zip
    
      - name:  QEMU 
        uses: docker/setup-qemu-action@v3   #QEMU  est nécessaire pour exécuter du ARM sur un serveur x86 (GitHub Actions), donc  Sans ça, impossible d’exécuter une image ARM

      
      - name:  Buildx
        uses: docker/setup-buildx-action@v3 # Buildxl'outil qui permet de faire du multi-architecture

      - name:  Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: ${{ matrix.platform }}
          push: false                       # nous ne poussons pas l'image, elle est seulement construite localement pour être exécutée dans l'étape suivante 
          load: true                        # load: true = car cela permet de charge localement l'image pour le docker run
          tags: moseiik:test

      - name: Run tests 
        run: docker run --rm moseiik:test
